/* Header Vairables */
$header-color: #111111;

/*Body Vairables */
$body-color: #1c1c1c;

/*Typography Variable */
$text-orange: #f7941d;
$text-gray: #d3d3d3;

/*Jumbotron Variables */
$jumbotron-color: #111111;