footer {
  margin-top: -25px;
  padding: 25px;
  background-color: $footer-bck-color;

  img {
    margin: 10px 0 10px 0;
  }

  ul {
    clear: left;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  a {
    color: $footer-link-color;
  }

  a:hover, a:active {
    text-decoration: none;
    color: $footer-link-color-hover;
  }
}

.social-links {
  i {
    margin-left: 10px;
    margin-right: 10px;
  }
}