.info-button {
  padding: 10px;
  border: solid 2px $text-orange;
  text-align: center;
  display: inline-block;
  background-color: rgba(0,0,0,0);
  color: $button-color;
  border-radius: 50px;
}