.info-button {
  padding: 10px;
  border: solid 2px $text-orange;
  text-align: center;
  display: inline-block;
  background-color: rgba(0,0,0,0);
  color: $button-color;
  border-radius: 50px;
}

.about-footer {
  a {
    color: $text-orange;
  }

  a:hover {
    color: $footer-link-color-hover;
    text-decoration: none;
  }

  a:active {
    color: $footer-link-color-hover;
  }
}

.discord-link {
  padding: 10px;
  border-radius: 25px;
  background-color: $discord-color;
}

.send-button {
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  background-color: $send-button-color;
  color: white;
}

.send-button:hover {
  color: white;
  background-color: $send-bck-color;
  text-decoration: none;
}