@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, body * {
  font-family: 'Commissioner', sans-serif;
}

nav {
  font-family: 'Commissioner', sans-serif;
  a {
    margin: 0 10px 0 10px;
    font-size: 1rem;
    font-weight: 600;
  }
}

p, h1, h2, h3, h4, h5 {
  color: white;
}


span {
  color: $text-orange;
}

.landing-div {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.about-div {
  h1 {
    font-weight: 700;
  }
}

/*BUTTONS*/
.info-button {
  font-weight: 800;
}