body {
  background-color: $body-color;
}

#homeContent {
  background-image: url("https://i.imgur.com/kgw70KP.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.landing-div {
  padding-top: 100px;
}

.landing-gap {
  margin-top: 200px;
}

.about-div {
  padding-top: 50px;
  margin-top: -50px;
  background-color: $body-color;
}

.about-header {
  padding-bottom: 25px;
  max-width: 350px;

  img {
    margin-bottom: 50px;
  }
}

.about-footer {
  padding-bottom: 50px;
  max-width: 350px;
}

.row-content {
  margin: 0 20px 0 20px;
  padding: 20px;
}